@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Roboto:wght@500&display=swap");
@import "./data/styles.css";

:root {
	--body_background: white;
	--body_color: black;
	--link_color: navy;
	
}

[data-theme="dark"]{
	/* --body_background: #282c34; */
	/* --body_background: #212121; */
	--body_background: #161617;
	--body_color: white;
	/* --link_color: rgb(27, 168, 168); */

	--primary-color: white;
	--secondary-color: #f5f5f5;
	--tertiary-color: #bfd448;
	--quaternary-color: #34ce3c;
	--link-color: #bfd448;;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;


	
}

body {
	margin: 0;
	font-family: var(--primary-font);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
